<div class="container_index">
    <div class="background-image"></div>
    <header>
        <img src="img/logo.png" alt="logo">
    </header>
    <article>
        <div class="username">
            <i class="material-icons">perm_identity</i>
            <input type="text" id="username" placeholder="Username">
        </div>
        <div class="password">
            <i class="material-icons">lock_outline</i>
            <input type="text" id="password" placeholder="Password">
        </div>
    </article>
    <div class="Button">
        <form action="main.html">
            <input type="submit" value="Sign In"/>
        </form>
    </div>
    <nav>
        <button name="no account?">Don't have an account?</button>
    </nav>
</div>