<div class="container_main">
    <main>
        <a href="index.html">
            <i class="material-icons">navigate_before</i>
        </a>
        <div class="mediterranean">
            <h1>Mediterranean</h1>
        </div>
    </main>
    <div class="main_main">
        <div class="arctic">
            <h3>Arctic</h3>
        </div>
        <div class="pacific">
            <h3>Pacific</h3>
        </div>
        <div class="atlantic">
            <h3>Atlantic</h3>
        </div>
        <div class="gulf_coast">
            <h3>Gulf Coast</h3>
        </div>
    </div>
</div>