body {
    background-color: gray;
}

.container {
    display: grid;
    height: 640px;
    width: 360px;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

header {
    grid-column: 3 / 8;
    background-color: lightblue;
    grid-row: 2 / 5;
}

h1 {
    margin-top: 72px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

article {
    grid-column: 3 / 8;
    grid-row: 6 / 8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.username {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    align-items: end;
}

.username > * {
    grid-column: 2 / 9;
}

.username > i {
    grid-column: 1 / 2
}

.password {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    align-items: end;
}

.password > * {
    grid-column: 2 / 9;
}

.password > i {
    grid-column: 1 / 2
}

input[type=text] {
    box-sizing:border-box;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

input::placeholder {
    font-size: 1.5em;
}

.Button {
    grid-column: 2 / 9;
    grid-row: 9 / 10;
}

.Button button {
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    background-color: #769DC2;
    border-color: transparent;
}

.toggled {
    background-color: #3B57CC;
    display: block;
}

nav {
    grid-column: 3 / 8;
    grid-row: 10 / 11;
}

nav button {
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
}



