body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.background-image {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    transform: scale(1.1);
    background: url(../img/desktop-background.jpg) no-repeat;
    background-size: 100% 100%;
    filter: blur(5px);
}

.container {
    position: fixed;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

header {
    grid-column: 4 / 7;
    background-color: salmon;
    grid-row: 1 / 3;
}

h1 {
    margin-top: 72px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

article {
    grid-column: 3 / 8;
    grid-row: 6 / 8;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.username {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    align-items: end;
}

.username > * {
    grid-column: 2 / 9;
}

.username > i {
    grid-column: 1 / 2;
    font-size: 37px;
    justify-self: right;
    margin-right: 5px;
    margin-bottom: 2px;
}

.password {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    align-items: end;
}

.password > * {
    grid-column: 2 / 9;
}

.password > i {
    grid-column: 1 / 2;
    font-size: 37px;
    justify-self: right;
    margin-right: 5px;
    margin-bottom: 2px;
}

input[type=text] {
    box-sizing:border-box;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
}

.Button {
    grid-column: 2 / 9;
    grid-row: 9 / 10;
}

.Button form {
    height: 100%;
}

.Button form input {
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    background-color: #fff;
    border-color: transparent;
}

nav {
    grid-column: 3 / 8;
    grid-row: 10 / 11;
}

nav button {
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
}



@media (max-width: 1000px) {
    body {
        background-image: url(../img/mobile-background.jpg);
        margin: 0px;
        padding: 0px;
    }

    .background-image {
        position: fixed;
        display: block;
        width: 100vw;
        height: 100vh;
        transform: scale(1.1);
        background: url(../img/mobile-background.jpg) no-repeat;
        background-size: 100% 100%;
        filter: blur(5px);
    }
    
    .container {
        position: fixed;
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    
    header {
        grid-column: 3 / 8;
        background-color: #f00;
        grid-row: 2 / 5;
    }

    input[type=text] {
        border-bottom: 1px solid black;
        font-size: 1.5em;
    }

    nav button {
        font-size: 1.2em;
    }

    .username > i {
        font-size: 24px;
    }

    .password > i {
        font-size: 24px;
    }
}