body {
    background-color: gray;
}

.container {
    display: grid;
    height: 640px;
    width: 360px;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

header {
    grid-column: 3 / 8;
    background-color: lightblue;
    grid-row: 2 / 5;
}

h1 {
    margin-top: 72px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
